body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.gradient{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 85px;
    font-weight: bold;
    background: linear-gradient(to right,#640D5F,#D91656,#EB5B00,#FFB200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}
.quote-box {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    margin-right: 50px;
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 15px;
}

.author {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: rgb(23, 162, 184);
}

